mixin UiNav 
    .ui-nav 
        a(href="/ui-kit/atoms/") Атомы
        a(href="/ui-kit/molecules/") Молекулы
        a(href="/ui-kit/organisms/") Организмы
        a(href="/ui-kit/wrappers/") Врапперы