.w-blocks {
    display: flex;
    flex-direction: column;
    gap: 90px;

    @media (max-width: 1023px) {
        gap: 50px;
    }
    @media (max-width: 767px) {

    }

    //&--first {
    //    margin-top: 40px;
    //
    //    @media (max-width: 1023px) {
    //        margin-top: 25px;
    //    }
    //}

    & + & {
        margin-top: 80px;

        @media (max-width: 1023px) {
            margin-top: 50px;
        }
        @media (max-width: 767px) {

        }
    }
}
