.o-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--headerHeight);
    // padding: 0 calc(var(--scrollbarWidth) - (100vw - 100%)) 0 0;
    border-bottom: 1px solid var(--grey-light-color);
    background-color: var(--white-color);
    z-index: 100;
    transition: var(--defaultTransition);

    &__container {
        height: 100%;
        display: grid;
        grid-template-columns: min-content minmax(0, 1fr) max-content;
        justify-content: space-between;
        align-items: center;
        gap: 55px;
        position: relative;

        @media (max-width: 1440px) {
            gap: 35px;
        }
        @media (max-width: 1280px) {
            grid-template-columns: min-content minmax(0, 1fr);
        }
    }

    &__logo {
        display: inline-block;
        width: 187px;
        height: 45px;

        @media (max-width: 1440px) {
            width: 152px;
            height: 37px;
        }
        @media (max-width: 1023px) {
            width: 117px;
            height: 28px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 40px;

        @media (max-width: 1440px) {
            gap: 20px;
        }
        @media (max-width: 1280px) {
            display: none;
        }

        & > * {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
        text-align: right;
        transition: var(--defaultTransition);

        @media (max-width: 1023px) {
            gap: 3px;
        }
    }

    &__burger {
        position: relative;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        gap: 7px;
        background-color: unset;
        transform-origin: right;
        transition: var(--defaultTransition);
        cursor: pointer;
        padding: 10px;
        margin: -10px;

        @media (max-width: 1280px) {
            display: flex;
        }

        & div,
        &::after,
        &::before {
            width: 24px;
            height: 2px;
            background-color: var(--basic-color);
            border-radius: 1px;
            transition: var(--defaultTransition);
        }

        & div {
            transform-origin: right;

            &:nth-child(2) {
                transition-delay: .1s;
            }

            &:nth-child(3) {
                transition-delay: .2s;
            }
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: center;
        }

        &::after {
            transform: scale(0) translate(-50%, -50%) rotate(45deg);
        }

        &::before {
            transform: scale(0) translate(-50%, -50%) rotate(-45deg);
        }

        &.isActive {

            & div {
                transform: scaleX(0);
            }

            &::after,
            &::before {
                transition-delay: .3s;
            }

            &::after {
                transform: scale(1) translate(-50%, -50%) rotate(45deg);
            }

            &::before {
                transform: scale(1) translate(-50%, -50%) rotate(-45deg);
            }
        }
        
        @media (hover: hover) {
            
            &:hover {

                &:not(.isActive) {

                    & div {
                        transform: scaleX(1.2);
                    }
                }
            }
        }
    }

    &.isCompact {
        
        @media (min-width: 1281px) {
            height: 81px;
        }
    }
    &.isCompact &__contacts {

        @media (min-width: 1281px) {
            gap: 5px;
        }
    }
}