mixin Cookie()
    .o-cookie.isVisible.js-cookie
        .o-cookie__inner
            .o-cookie__text Сайт использует файлы cookie для улучшения пользовательского опыта.&nbsp;
                a(href="#") Подробнее
            button.o-cookie__close.js-cookie__close
                +svg("close-l")