mixin SimpleSlider()
    .m-simpleSlider.js-simpleSlider
        .m-simpleSlider__slider.js-simpleSlider__slider
            .swiper-wrapper
                if block
                    block
        +BulletsPag.js-simpleSlider__pagination