//======== Main colors =========//
:root {
    --basic-color: #151516;
    --white-color: #FFF;
    --grey-color: #7588A8;
    --grey-medium-color: #CFDBE5;
    --grey-light-color: #DCE4EA;
    --grey-lighter-color: #F8FAFD;
    --primary-color: #d50000;
    --primary-lighter-color: #f50000;
    --primary-dark-color: #830101;

    --primary-color: #F2865B;         // Оранжевый
    --primary-dark-color: #e8734a;

    --secondary-color: #4378C7;       // Синий
    --secondary-dark-color: #2c64c1;
}