@font-face {
  font-family: 'SST';
  src: url('../fonts/SST/SSTBold.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SST Condensed';
  src: url('../fonts/SST/SSTBoldCn.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SST';
  src: url('../fonts/SST/SSTMedium.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SST';
  src: url('../fonts/SST/SSTRg.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}