:root {
    --appHeight: 100vh;
    --containerWidth: 1400px;
    --headerHeight: 100px;
    --footerIndent: 130px;

    --mainFont: 'SST';
    --additionalFont: 'SST Condensed';

    --basicTextSize: 16px;
    --basicLineHeight: 160%;

    --scrollbarBg: #fff;
    --scrollbarThumb: var(--primary-color);
    --scrollbarWidth: 7px;
    --scrollbarBorder: none;
    --scrollbarBorderRadius: 0;

    --defaultTransition: all 0.3s ease-in-out;

    @media (max-width: 1280px) {
        --headerHeight: 60px;
    }
    @media (max-width: 1023px) {
        --basicTextSize: 15px;
        --basicLineHeight: 150%;
        --footerIndent: 50px;
    }
    @media (max-width: 767px) {

    }
}