mixin Breadcrumbs 
    .m-breadcrumbs
        .m-breadcrumbs__item
            a(href="/").m-link.m-link--black Главная
        .m-breadcrumbs__arrow
        .m-breadcrumbs__item
            span Заголовок
