.a-btn {
    height: 65px;
    display: inline-flex;
    padding: 21px 40px;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    line-height: inherit;
    font-weight: 500;
    cursor: pointer;
    border-radius: 999px;
    transition: var(--defaultTransition);
    text-align: center;
    border: none;
    text-decoration: none;

    @media (max-width: 1023px) {
        padding: 16px 42px 21px;
        height: 60px;
    }

    &--orange {
        background-color: var(--primary-color); // #FA845C например
        color: var(--white-color);

        &:hover {
            background-color: var(--primary-dark-color); // #e76d49
        }
    }

    &--blue {
        background-color: var(--secondary-color); // #4277D3 например
        color: var(--white-color);

        &:hover {
            background-color: var(--secondary-dark-color); // #3766b5
        }
    }

    &--transparent-orange {
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
    }

    &--transparent-blue {
        background-color: transparent;
        border: 2px solid var(--secondary-color);
        color: var(--secondary-color);

        &:hover {
            background-color: var(--secondary-color);
            color: var(--white-color);
        }
    }

    &:disabled,
    &.isDisabled {
        pointer-events: none;
        opacity: 0.7;
    }
}
