mixin Select()
    .a-select.js-select.isError
        input(type="hidden").js-select__input
        .a-select__label.js-select__open
            span.js-select__label Пункт 1
            +svg('arrow-s')
        .a-select__window.js-select__window
            .a-select__items
                label.a-select__item.isSelected.js-select__option(data-label="Пункт 1")
                    input(type="radio" name="sort" value="all")
                    span Пункт 1
                label.a-select__item.js-select__option(data-label="Пункт 2")
                    input(type="radio" name="sort" value="all")
                    span Пункт 2
                label.a-select__item.js-select__option(data-label="Пункт 3")
                    input(type="radio" name="sort" value="all")
                    span Пункт 3
                label.a-select__item.js-select__option(data-label="Пункт 4")
                    input(type="radio" name="sort" value="all")
                    span Пункт 4