//- block: html
//- style: 'primary' | 'black' | 'grey' | 'white'
mixin Link(style = 'black')
    a(class='a-link a-link--'+style)&attributes(attributes)
        if block
            block
        else
            | Ссылка